<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Super Hero Sightings</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
  <div class="row m-4">
    <div class="col text-center border border-dark">
      <h1>
        <a href="/" class="text-dark">Super Hero Sightings</a>
      </h1>
    </div>
  </div>

  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
    </div>
    <div class="col text-center m-3">
      <a href="superheroes" class="btn btn-outline-primary btn-lg">Super Heroes</a>
    </div>
    <div class="col text-center m-3">
      <a href="superpowers" class="btn btn-outline-primary btn-lg">Super Powers</a>
    </div>
    <div class="col text-center m-3">
      <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
    </div>
    <div class="col text-center m-3">
      <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
    </div>
  </div>

  <!-- Add sightings form -->
  <div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
      <span class="h3">Add Sighting</span>
    </div>
    <div class="col-7 text-center m-3">
      <form action="addSighting" method="POST">
        <div class="form-group row">
          <label for="timestamp" class="col-3 col-form-label">Timestamp (YYYY-MM-DD HH:MM:SS)</label>
          <div class="col-9">
            <input type="text" name="timestamp" id="timestamp" class="form-control"/>
          </div>
        </div>
        <!-- Superhero Name -->
        <div class="form-group row">
          <label for="superName" class="col-3 col-form-label">
            Superhero's Name</label>
          <div class="col-9">
            <select id="superName" name="superName" class="form-control" >
              <option th:each="superhero : ${superheroes}"
                      th:value="${superhero.superName}"
                      th:text="${superhero.superName}">
                Superhero's Name</option>
            </select>
          </div>
        </div>

        <!-- Location Name -->
        <div class="form-group row">
          <label for="locationName" class="col-3 col-form-label">
            Location</label>
          <div class="col-9">
            <select id="locationName" name="locationName" class="form-control" >
              <option th:each="location : ${locations}"
                      th:value="${location.locationName}"
                      th:text="${location.locationName}">
                Location</option>
            </select>
          </div>
        </div>
        <!-- Location Address -->
        <button type="submit" class="btn btn-primary">Add Sighting</button>
      </form>
    </div>
  </div>

  <!-- Display all sightings -->
  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Timestamp (MM-DD-YYYY)</th>
          <th>Superhero Name</th>
          <th>Location Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sighting : ${sightings}">
          <td th:text="${sighting.timestamp}">Timestamp</td>
          <td th:text="${sighting.superHero.superName}">Superhero Name</td>
          <td th:text="${sighting.location.locationName}">Location Name</td>
          <td>
            <a href="#" th:href="@{/editSighting(sightingID=${sighting.sightingID})}">Edit</a>
          </td>
          <td>
            <a href="#" th:href="@{/deleteSighting(sightingID=${sighting.sightingID})}">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End main body -->
</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>