<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Super Heroes</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Super Hero Sightings</a></h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="teachers" class="btn btn-outline-primary btn-lg">Sightings</a>
        </div>
        <div class="col text-center m-3">
            <a href="teachers" class="btn btn-outline-primary btn-lg">Super Heroes</a>
        </div>
        <div class="col text-center m-3">
            <a href="students" class="btn btn-outline-primary btn-lg">Super Powers</a>
        </div>
        <div class="col text-center m-3">
            <a href="courses" class="btn btn-outline-primary btn-lg">Locations</a>
        </div>
        <div class="col text-center m-3">
            <a href="courses" class="btn btn-outline-primary btn-lg">Organizations</a>
        </div>
    </div>


    <div class="row m-4 border border-dark">

<!--        <div class="row m-4 border border-dark">-->
<!--            <div class="col text-center m-3">-->
<!--                <div class="dropdown">-->
<!--                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        See Organizations by Hero-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu" th:each="superhero : ${superheroes}">-->
<!--                        <li>-->
<!--                            <a class="dropdown-item"-->
<!--                               th:href="@{/orgbyHero(superID=${superhero.superID})}"-->
<!--                               th:text="${superhero.superName}">-->

<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col text-center m-3">-->
<!--                <a href="" class="btn btn-outline-primary btn-lg">See Results</a>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="text-center m-3">-->
<!--            <span class="h3">See Organizations by Hero</span>-->
<!--        </div>-->
<!--        <div class="col-7 text-center m-3">-->
<!--            <form action="orgByHero" method="POST">-->
<!--                <div class="form-group row">-->
<!--                    <label for="orgByHero" class="col-3 col-form-label">-->
<!--                        Hero Id</label>-->
<!--                    <div class="col-9">-->
<!--                        <input type="text" name="orgByHero"-->
<!--                               id="orgByHero" class="form-control"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Search</button>-->
<!--            </form>-->
<!--        </div>-->


        <div class="text-center m-3">
            <span class="h3">See Locations by Hero</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="locbyHero" method="POST">
                <div class="form-group row">
                    <label for="locbyHero" class="col-3 col-form-label">
                        Hero Id</label>
                    <div class="col-9">
                        <input type="text" name="locbyHero"
                               id="locbyHero" class="form-control"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>


    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <div class="col text-center">
                <h1>Super Heroes</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Super Name</th>
                        <th>Super Description</th>
                        <th>Super Power</th>
                        <th>Edit Super Hero</th>
                        <th>Delete Super Hero</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="superhero : ${superheroes}">
                    <td th:text="${superhero.superID}">ID</td>
                    <td th:text="${superhero.superName}">Super Name</td>
                    <td th:text="${superhero.superDescription}">Super Description</td>
                    <td th:text="${superhero.superPower}">Super Power</td>
                    <td><a href="#" th:href="@{/editSuperHero(superID=${superhero.superID})}">Edit</a></td>
                    <td><a href="#" th:href="@{/deleteSuperHero(superID=${superhero.superID})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row m-4 border border-dark">
    <div class="text-center m-3">
        <span class="h3">Add a Super Hero</span>
    </div>
    <div class="col-7 text-center m-3">
        <form action="addSuperHero" method="POST">

            <div class="form-group row">
                <label for="superName" class="col-3 col-form-label">
                    Super Name</label>
                <div class="col-9">
                    <input type="text" name="superName"
                           id="superName" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="superDescription" class="col-3 col-form-label">
                    Super Description</label>
                <div class="col-9">
                    <input type="text" name="superDescription"
                           id="superDescription" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="superPower" class="col-3 col-form-label">
                    Super Power</label>
                <div class="col-9">
                    <input type="text" name="superPower"
                           id="superPower" class="form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Super Hero</button>
        </form>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;